@import '../../dep/est/src/all';
@default-font-size: 14px;
.global-reset();

@main-color: #00a0b0;
@link-color: #026890;
@link-color-sub: #00a0b0;

body {
    font: 14px/1.6 "Merriweather Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
img, fieldset {
    border: none;
}
img:hover {
    .opacity(90);
}
fieldset {
    display: block;
    padding: 0 0 0 20px;
    border-style: solid;
    border-width: 1px 0 0 0;
}
fieldset legend {
    padding: 0 5px;
    font-weight: bold;
}
textarea {
    resize: none;
}
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], input[type="reset"], textarea {
    outline-style: none;
    -webkit-appearance: none;
    font-size: 14px;
}
a {
    outline: none;
    text-decoration: none;
    color: @link-color;

    &:hover {
        text-decoration: underline;
    }
}
em, i, strong, b {
    font-weight: 400;
    font-style: normal;
}

.btn {
    font: 14px/1.6 "Merriweather Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    &:hover {
        text-decoration: none;
    }

    i {
        margin-right: 5px;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
        background-color: #e5e5e5;
    }
}

.btn-primary {
    background: @main-color;
    color: #fff;

    &:hover {
        background-color: lighten(@main-color, 4%);
    }
}
.fa-edit {
    font-size: 16px;
    vertical-align: middle;
}

// for layout
.hide {
    display: none;
}
.hide-forever {
    display: none!important;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.clear {
    .clearfix();
}

.w980 {
    margin: 0 auto;
    clear: both;
    width: 980px;
}
.mt20 {
    margin-top: 20px;
}
.wrap {
    padding-bottom: 25px;
}

.tip-text {
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
}

.box-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &-danger {
        border-left-color: #d9534f;
    }

    &-warning {
        border-left-color: #f0ad4e;
    }

    &-info {
        border-left-color: #5bc0de;
    }
}

.block-ico {
    color: #ea1429;
}
.bold {
    font-weight: 900;
}
.loading {
    display: none;
}