@link-hover-color: #00a0b0;
@main-width: 780px;
.main {
    // border: 1px solid #DFDFDF;
    min-height: 300px;
    background: url(../img/repeat_bg_y_green.png) repeat-y 0 0;
    background-color: #fafafa;

    .ct {
        margin-right: 20px;
        padding-top: 10px;
        width: @main-width;
        float: right;

        .pager {
            margin-bottom: 30px;
        }
    }


    .side {
        float: left;
        overflow: hidden;
        margin-bottom: 10px;
        width: 150px;
    }

    .checkbox {
        margin: 10px 5px 0 0;
    }
}
.operation, .operation-del, .operation-search {
    margin: 10px 0;
    padding: 0 10px 10px 0;
    line-height: 30px;
    margin-left: 0;

    a {
        line-height: 25px;
    }

    .btn {
        margin-left: 10px;
    }
}
.operation {
    padding-bottom: 10px;
    border-bottom: 1px solid @link-hover-color;
}
.operation-del {
    padding-bottom: 10px;
    border-bottom: 1px solid @link-hover-color;

    label {
        // margin: 0 10px;
    }
}
.operation-search {
    label {
        margin: 0 10px;
    }

    input {
        width: 300px;
        border: 1px solid #ddd;
        .border-radius(2px);
        margin: 0;
        padding: 0 5px;
        line-height: 28px;
        font-size: 14px;
        background-color: #fff;
    }
}

#btn-del-confirm {
    margin-left: 20px;
}

.msg-list {
    margin: 0;

    .msg-item {
        position: relative;
    }

    &-item {
        cursor: pointer;

        &-at {
            .ico-wrap {
                text-align: center;
                vertical-align: middle;

                .fa {
                    padding: 2px;
                    display: block;
                    .size(50px);
                    .border-radius(2px);
                    border: 1px solid;
                    border-color: #F2F2F2 #EEE #EEE #F2F2F2;
                    font-size: 40px;
                    line-height: 50px;
                    color: #fff;
                }

                .fa-at {
                    background: #5bb4da;
                }

                .fa-comment-o {
                    background-color: #35b87f;
                    font-size: 36px;
                }
            }
        }

        &-new {
            background-color: #f2f2f2;
        }
    }

    dl {
        position: relative;
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid #eee;

        &:hover {
            background-color: #fff;
        }
    }

    .item-hover {
        background-color: #fff;
    }

    .plus {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 12px;
        color: #808080;

        .dateline {

        }

        .bubble {
            position: absolute;
            top: 30px;
            right: 0;
            padding: 0 2px;
            font-family: arial;
            font-size: 12px;
            -webkit-transform: scale(0.875);
            background-color: #dd3838;
            color: #fff;
            border-radius: 2px;
            min-width: 11px;
            _width: 11px;
            height: 12px;
            line-height: 14px;
            text-align: center;
        }
    }

    .operate {
        display: inline-block;
        .size(12px);
        margin-left: 5px;
        padding: 2px;
        border: 1px solid #ccc;
        .border-radius(2px);
        line-height: 1;
        text-align: center;
        color: #999;

        &:hover {
            background-color: @link-hover-color;
            color: #fff;
        }
    }

    .operate-list {
        position: absolute;
        z-index: 1000;
        top: 29px;
        right: 10px;
        font-size: 12px;
    }

    .user-avator {
        margin-left: 20px;
    }

    .user-info {
        width: @main-width - 125px;
        margin-right: 25px;

        .username {
            font-weight: 700;
        }
        .msg-text {
            line-height: 30px;
            color: #808080;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 2em;

            a {
                color: #026890;
            }

            .reply {
                color: #aaa;
                margin-right: 5px;
            }
        }
    }
}

.msg-nodata {
    padding: 30px;
    text-align: center;
    color: #999;
}

// checkbox list
.checkbox-list {

    .user-avator {
        margin-left: 0;
    }

    .list-check {
        .size(20px);
        position: absolute;
        z-index: 10;
        top: 12px;
    }

    dl {
        padding-left: 20px;
    }
}
// at msg list
.msg-topic-list {
    .msg-list-item {
        cursor: default;

        a {
            color: #333;
            &:hover {
                // text-decoration: none;
            }
        }

        .msg-text {
            margin-top: 10px;
            
            a {
                color: #808080;
            }
        }
    }
    .msg-topic-new {
        .msg-text {
            a {
                color: #026890;
            }
        }
    }

    .user-avator {
        a {
            display: block;
        }
    }

    .user-info {

    }

    .operate {
        border: 0;

        &:hover {
            color: #ea1429;
            background: none;
        }
    }

    .msg-topic-new {
        .msg-text {
            color: #666;
            font-weight: bold;
        }
    }
}

.user-avator {
    width: 60px;

    img {
        display: block;
        .size(50px);
        .border-radius(2px);
        padding: 2px;
        background: #FFF;
        border: 1px solid;
        border-color: #F2F2F2 #EEE #EEE #F2F2F2;
    }
}

.layer-menu-list {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px;

    li a {
        white-space: nowrap;
        min-width: 36px;
        padding: 8px 10px;
        color: #333;
        line-height: 1;
        display: block;
        cursor: pointer;

        &:hover {
            background-color: #e6e6e6;
            text-decoration: none;
        }
    }
}


.scrolltop {
    position: fixed;
    bottom: 20%;
    right: 10px;
    display: none;
    margin: -30px 0 0 2px;
    .size(50px);
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    background: url(http://xiaozu.94uv.com/static/image/common/scrolltop.png) no-repeat 0 0;
    background-position: -25px -30px;

    &:hover {
        background-position: -109px -30px;
    }

    b {
        visibility: hidden;
    }
}