.notice-pm, 
.notice-mypost, 
.notice-interactive, 
.notice-system, 
.notice-manage, 
.notice-app {
    float: left;
    width: 18px;
    height: 14px;
    background-image: url(../img/ico_notice.png);
    margin: 8px 5px 5px 0;
}

.notice-pm {
    background-position: 0 0;
}