@import '../../dep/est/src/all';

@import 'common';
@import 'footer';
@import 'icon';

.page {
    margin: 15px auto 0;
    background: #fff;
    width: 990px;
    margin: 0 auto;
}

.header {
}

.logo {
    margin: 30px;

    a {
        display: block;
        .size(250px, 72px);
        background: url(../img/logo.png) left center no-repeat;
    }
}


@import 'content';
@import 'popup';
@import 'list';
